<div class="row onl_row-sm-offset-3 onl_socialButtons">
	<div class="col-xs-2 col-sm-2">
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> </a>
	</div>
	<div class="col-xs-2 col-sm-2">
		<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %> </a>
	</div>
	<div class="col-xs-2 col-sm-2">
		<%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin) %> </a>
	</div>
</div>